# Node
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Java/Maven
target/
*.jar
*.war
*.ear
*.class

# IDEs
.idea/
*.iml
.project
.classpath
.settings/
.vscode/

# Logs
*.log

# Project specific
services.json
backend/src/main/resources/static/*
backend/target/*